<div>
  <h1>Villanos ({{listaVillanos.length}})</h1>
  <div class="card-columns">
    <div *ngFor="let villano of listaVillanos" class="card border-0">
      <div class="card-border-0">
        <div class="d-flex justify-content-center">
          <a (click)="verDetalle(villano.id)"><img class="card-img-top img-fluid rounded-circle"
            [src]="villano.imagen"  onerror="this.onerror = null; this.src = 'assets/img/no-image.png'"
            [alt]="villano.nombre"></a>
        </div>
        <div class="card-block">
          <h4 class="card-title">
            {{villano.nombre}}
          </h4>
          <p class="card-text">
            {{villano.bio | slice:0:175}}...
          </p>
          <p class="card-text">
            <small class="text-muted">{{villano.aparicion}}</small>
          </p>
        </div>
        <button (click)="verDetalle(villano.id)" type="button"class="btn btn-outline-primary btn-block col-md-9" style="margin-left: 15%">
          ver mas...
        </button>
      </div>
    </div>
  </div>
</div>
