

<h2>Personaje {{id}}</h2>
<div class="d-flex justify-content-between">
  <button (click)="volver()"
          type="button"
          class="mr-auto btn btn-outline-danger"
          name="button">
          volver
  </button>
</div>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="heroeForm" (ngSubmit)="addUpdate()" novalidate>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input class="form-control"
               type="text"
               name="nombre"
               formControlName="nombre"
               class="form-control"
               placeholder="Nombre del personaje"
               [ngClass]="{'has-danger': heroeForm.controls['nombre'].errors?.required && heroeForm.controls['nombre'].touched ,
                          'has-success' : heroeForm.get('nombre').valid}">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label for="tipo">Tipo</label>
            <select class="form-control"
                    name="tipo"
                    formControlName="tipo">
              <option value ="heroe" selected>Héroe</option>
              <option value ="villano">Villano</option>
            </select>
          </div>


          <div class="col-md-3">
            <label for="tipo">Fecha</label>
            <input type="date"
                  name="fecha_aparicion"
                  formControlName="fecha_aparicion"
                  class="form-control"
                  placeholder="Fecha de aparición"
                  [ngClass]="{'has-danger': heroeForm.controls['fecha_aparicion'].errors?.required && heroeForm.controls['fecha_aparicion'].touched,
                            'has-success' : heroeForm.get('fecha_aparicion').valid}">
          </div>



          <div class="col-md-4">
            <label for="imagen">img URL</label>
            <input type="text"
                 name="imagen"
                 formControlName="imagen"
                 class="form-control"
                 placeholder="URL de imagen">
          </div>
          <div class="col-md-3">
            <img src="{{heroeForm.get('imagen').value}}"  onError="this.src = 'assets/img/no-image.png'" class="minImagen">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="bio">Bio</label>
        <textarea name="bio"
                  formControlName="bio"
                  rows="8"
                  cols="80"
                  class="form-control"></textarea>
      </div>
      <div [ngSwitch]="estadoForm">
        <div *ngSwitchCase="estadoFormEnum.envioOkPost" class="alert alert-success" role="alert">
          <strong>OK:</strong> Personaje dado de alta
        </div>
        <div *ngSwitchCase="estadoFormEnum.envioOkPut" class="alert alert-success" role="alert">
          <strong>OK:</strong> Personaje modificado
        </div>
        <div *ngSwitchCase="estadoFormEnum.envioError" class="alert alert-danger" role="alert">
          <strong>ERROR:</strong> Error en la peticion
        </div>
        <div *ngSwitchCase="estadoFormEnum.formInvalido" class="alert alert-warning" role="alert">
          <strong>Atención:</strong> Revise los campos
        </div>
        <div *ngSwitchDefault></div>
      </div>
      <div class="form-group">
      </div>
      <div *ngIf="id != 'nuevo'">
        <button type="submit" name="button"
                class="btn btn-outline-primary">
          <i [ngClass]="
              {
                'fa-save': estadoForm !== estadoFormEnum.enviando,
                'fa-refresh fa-spin': estadoForm == estadoFormEnum.enviando
              }"
              class="fa"></i>
          Actualizar
        </button>
      </div>
      <div *ngIf="id == 'nuevo'">
        <button type="submit" name="button"
                class="btn btn-outline-primary">
          <i [ngClass]="
              {
                'fa-save': estadoForm !== estadoFormEnum.enviando,
                'fa-refresh fa-spin': estadoForm == estadoFormEnum.enviando
              }"
              class="fa"></i>
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
