<div>
  <h1>Héroes ({{listaHeroes.length}})</h1>
  <div class="card-columns">
    <div *ngFor="let heroe of listaHeroes" class="card border-0">
      <div class="card-border-0">
        <div class="d-flex justify-content-center">
          <a (click)="verDetalle(heroe.id)"><img class="card-img-top img-fluid rounded-circle"
            [src]="heroe.imagen" onerror="this.onerror = null;this.src = 'assets/img/no-image.png'"
            [alt]="heroe.nombre"></a>
        </div>
        <div class="card-block">
          <h4 class="card-title">
            {{heroe.nombre}}
          </h4>
          <p class="card-text">
            {{heroe.bio | slice:0:175}}...
          </p>
          <p class="card-text">
            <small class="text-muted">{{heroe.aparicion}}</small>
          </p>
        </div>
        <button (click)="verDetalle(heroe.id)" type="button"class="btn btn-outline-primary btn-block col-md-9" style="margin-left: 15%">
          ver mas...
        </button>
      </div>
    </div>
  </div>
</div>
