<div *ngIf="lista">
  <div *ngFor="let resultado of lista" class="row" style="padding: 10px;">
    <div class="d-flex justify-content-center col-md-5">
      <img class="card-img-top img-fluid rounded-circle"src="{{resultado.imagen}}"
            onError="this.src = 'assets/img/no-image.png'"
            [alt]="resultado.nombre">
    </div>
    <div class="card-block col-md-3" style="padding-top: 35px;text-align: center;">
      <h4 class="card-title">
        {{resultado.nombre}}
      </h4>
    </div>
    <div *ngIf="resultado.tipo == 'heroe'">
      <img class="bando img-circle" src="../../assets/img/shield-60.png">
    </div>
    <div *ngIf="resultado.tipo == 'villano'">
      <img class="bando img-circle" src="../../assets/img/hydra-60.png">
    </div>
    <div class="col-md-2" style="padding-top: 20px;">
      {{resultado.id}}
      <button (click)="verDetalle(resultado.id)" type="button" class="btn btn-outline-primary btn-block" style="margin-top: 10px">
        ver mas...
      </button>
    </div>
  </div>
</div>
