<nav class="navbar navbar-toggleable-md navbar-light bg-faded" data-spy="affix" data-offset-top="197">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['home']"><img src="/assets/img/h-30.png" width="30" height="30" alt=""></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['villanos']">Villanos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
    </ul>
    <button [routerLink]="['/personaje/edit', 'nuevo']" type="button" class="btn btn-outline-primary fa fa-plus-circle" name="button" title="Añadir Personaje">
      Personaje
    </button>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search"
          (keyup.enter)="buscarHeroe(buscarTexto.value)" #buscarTexto>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button"
          (click)="buscarHeroe(buscarTexto.value)">Search</button>
    </form>
  </div>
</nav>
